:root {
    --primary-color-light: lightgreen;
    --primary-color-dark: #412a1e;
    --secondary-color-light: papayawhip;
    --secondary-color-dark: khaki;
    --grey-light: #bbb;
    --grey-dark: #333;
}