html,
body {
  background-color: var(--primary-color-dark);
  margin: 0px;
  padding: 0px;
  font-family: "NunitoSans-Regular", Arial, Helvetica, sans-serif;
}

#container {
  max-width: 100%;
  /* border: thin solid red; */
}

#header-container {
  max-width: 100%;
}

#main-menu-container {
  max-width: 85%;
  margin: auto;
  margin-bottom: 60px;
  /* border: 2px solid fuchsia; */
}

#sub-container {
  max-width: 85%;
  margin: auto;
  border: 2px solid var(--grey-dark);
  background-color: var(--secondary-color-dark);
  border-radius: 10px; 
  padding: 20px;
  box-sizing: border-box;
  height: 1000px;
}

#aside-container {
  display: inline-block;
  /* border: 2px solid lime; */
  width: 21%;
}

#content-container {
  float: right;
  /* border: 2px solid lime; */
  width: 78%;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  color: var(--primary-color-dark);
  font-family: "NunitoSans-Light", Arial, Helvetica, sans-serif;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  background-color: var(--primary-color-light);
  font-family: "NunitoSans-Regular", Arial, Helvetica, sans-serif;
}
