#main-menu {
  /* float: left; */
  width: 100%;
  background-color: var(--secondary-color-light);
  border: 2px solid var(--grey-dark);
  border-top: 0px;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  /* border: 2px solid blue; */
}

#main-menu > ul > li {
  float: left;
  margin: 10px 0px;
}

#main-menu > ul > li > a {
  padding: 20px;
  border-right: thin solid var(--grey-dark);
}

#main-menu > ul > li > ul {
  display: none;
  position: absolute;
  /* left: 350px; */
  margin-top: 10px;
  background-color: var(--secondary-color-light);
  border: 1px solid var(--grey-dark);
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
}

#main-menu > ul > li:hover > ul {
  display: block;
}

#main-menu > ul > li > ul > li > a {
  display: block;
  padding: 5px;
  border-top: 1px solid var(--grey-dark);
}
