<aside id="aside">

    <div id="iniciar" class="widget">
        <h3>Iniciar Sesión</h3>

        <form id="login">
            <input id="email" class="input field" type="email" name="email" placeholder="Email">
            <input id="password" class="input field" type="password" name="password" placeholder="Password">
            <input id="submit" class="input loginbutton" type="submit" value="Entrar">

        </form>

    </div>

    <div id="entradas" class="widget">
        <h3>Últimas Entradas</h3>

        <ul>
            <li>
                <a href="#">El desarrollo web no es más que copiar y pegar</a>
            </li>

            <li>
                <a href="#">Cómo hacer un slider con HTML y CSS</a>
            </li>

            <li>
                <a href="#">Por qué HTML no es un lenguaje de programación?</a>
            </li>

            <li>
                <a href="#">Cómo poner la primera letra en mayúscula con CSS</a>
            </li>

            <li><a href="#">Qué es un lenguaje de marcado?</a></li>

        </ul>

    </div>

    <div id="frase" class="widget">
        <h3>Frase del día</h3>

        <blockquote id="quote">La mejor manera de ser un programador es escribiendo código y estudiar grandes
                programas que otra
                gente ha escrito.</blockquote>

    </div>



</aside>