<section id="content">

    <h1>Últimas Noticias</h1>

    <article>
        <h2>El desarrollo web no es mas que copiar y pegar.</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut totam praesentium tempora consequatur
            voluptate, nesciunt ducimus aliquid corrupti porro eveniet laudantium sapiente delectus vitae excepturi
            velit minima ab inventore veniam!</p>
        <a href="#" class="input">Ver más >></a>


    </article>

    <article>
        <h2>Cómo hacer un slider con HTML y CSS?</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum ipsam dolorem voluptatem voluptatibus aut iste nihil repudiandae recusandae adipisci, atque minus cumque. Fugiat laborum eligendi aspernatur laudantium, nesciunt consectetur corporis?</p>
        <a href="#" class="input">Ver más >></a>


    </article>

    <article>
        <h2>Por qué HTML no es un lenguaje de programación?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur id omnis odit reiciendis laudantium dolorem ea voluptatem quis nihil illo maiores cupiditate soluta, qui doloribus tenetur excepturi. Tempore, aut debitis.</p>
        <a href="#" class="input">Ver más >></a>


    </article>

    <article>
        <h2>Cómo poner la primera letra en mayúscula con CSS?</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt cupiditate ab minima quae suscipit explicabo qui voluptas optio ullam doloribus omnis aut iste, vitae fugiat, cumque a placeat saepe illum!</p>
        <a href="#" class="input">Ver más >></a>


    </article>

    <article>
        <h2>Qué es un lenguaje de marcado?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequuntur animi necessitatibus ullam, voluptatem est temporibus maxime corrupti eius ipsam dolorum incidunt corporis odit optio dignissimos porro obcaecati doloribus ipsum?</p>
        <a href="#" class="input">Ver más >></a>


    </article>

    <ul>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">23</a></li>
    </ul>

</section>