<section id="content">

    <h1>Últimas Noticias</h1>

    <article>
        <h2>El desarrollo web no es más que copiar y pegar</h2>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, libero eius voluptate tempore molestias
            nulla quae dolor odio voluptates? Rerum nam aliquam quod vel! Ut quaerat saepe velit quidem enim?</p>

        <a href="#">Leer más >></a>

    </article>

    <article>
        <h2>Cómo hacer un slider con HTML y CSS</h2>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, libero eius voluptate tempore molestias
            nulla quae dolor odio voluptates? Rerum nam aliquam quod vel! Ut quaerat saepe velit quidem enim?</p>

        <a href="#">Leer más >></a>

    </article>

    <article>
        <h2>Por qué HTML no es un lenguaje de programación?</h2>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, libero eius voluptate tempore molestias
            nulla quae dolor odio voluptates? Rerum nam aliquam quod vel! Ut quaerat saepe velit quidem enim?</p>

        <a href="#">Leer más >></a>

    </article>

    <article>
        <h2>Cómo poner la primera letra en mayúscula con CSS</h2>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, libero eius voluptate tempore molestias
            nulla quae dolor odio voluptates? Rerum nam aliquam quod vel! Ut quaerat saepe velit quidem enim?</p>

        <a href="#">Leer más >></a>

    </article>


    <div id="pagination-container">

        <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">23</a></li>

        </ul>

    </div>

</section>