<nav id="main-menu">
    <ul>
        <li>
            <a href="">Inicio</a>
        </li>
        <li>
            <a href="">Noticias</a>
        </li>
        <li>
            <a href="">Blog</a>
        </li>
        <li id="academia">
            <a>Academia</a>

            <ul id="sub-menu">
                <li>
                    <a href="https://platzi.com/escuela/escuela-web/" target="_blank">Desarrollo
                        Web</a>
                </li>
                <li>
                    <a href="https://platzi.com/escuela/escuela-producto/" target="_blank">Diseño de Producto</a>
                </li>
                <li>
                    <a href="https://platzi.com/escuela/escuela-devops-cloud/" target="_blank">DevOps</a>
                </li>
            </ul>

        </li>

        <li>
            <a id="contacto" href="">Contacto</a>


        </li>
    </ul>
</nav><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<p id="result"></p>


<script>
    // let child = document.getElementById("sub-menu");
    let result = document.getElementById("result");

    // child.style.backgroundColor = "yellow";

    // let parent = child.parentElement;


    result.innerText = "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt iste mollitia sunt, doloribus eveniet accusantium qui est soluta harum quisquam quae molestias veritatis repellendus molestiae consectetur voluptatum itaque totam atque.";


</script>